@import "./mixins.scss";

.sidebar-box {
    position: relative;

    &.hide-overflow {
        max-height: 500px;
        overflow: hidden;
    }

    &.show-overflow {
        max-height: 100%;
    }

    .read-less, .read-more {
      font-weight: bolder;
      font-size: 1.5rem;
      cursor: pointer;
      text-align: center; 
    }

    .read-less {
        text-decoration: underline;
    }

    .read-more { 
      position: absolute; 
      bottom: 0; 
      left: 0;
      margin: 0;
      width: 100%; 
      padding: 30px 0;
        
      /* "transparent" only works here because == rgba(0,0,0,0) */
      background-image: linear-gradient(to bottom, transparent, #f2f1f2);
    }
  }

