.card-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #24B8BD;
}

.card-modal:hover {
    transform: translate(-50%, -50%);
}

.card-modal .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-modal .card-body .card-title {
    color: #FFF;
}

.card-modal .card-body form {
    color: #FFF;
}

.card-modal .card-body form input {
    border: 2px solid #FFF;
    margin-bottom: 0.5rem;
}

.card-modal .card-body form button {
    width: 100%;
    color: #FFF;
    border: 2px solid #FFF;
}
