.register {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    background-color: #24B8BD;
}

.register h3 {
    width: 320px;
    color: #D3D2D3;
    text-align: center;
    margin-bottom: 1rem;
}

.register form {
    color: #D3D2D3;
    width: 320px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.register form label {
    font-size: 1.2rem;
    align-self: center;
    margin-right: 1rem;
}

.register form input {
    border: 1px solid #D3D2D3;
    margin-bottom: 1rem;
}

.register form a {
    margin: 0 auto;
    width: 160px;
}
.register form button {
    border: 1px solid #D3D2D3;
    background-color: #D3D2D3;
    color: #24B8BD;
    width: 160px;
}

@media (min-width: 640px) {
    .register h3 {
        margin: 0;
    }
}

@media (min-width: 1000px) {
    .register h3 {
        margin-left: 20%;
    }
}