.single-note {
  background-color: #f2f1f2;
  z-index: 0;
  margin-top: 75px;
  height: 100vh;
  width: 100vw;
  display: table;
}

.single-note .link-wrapper {
  display: flex;
  justify-content: flex-end;
  padding-top: 20px;
}

.single-note .link-wrapper a,
.single-note .link-wrapper p {
  text-decoration: underline;
  color: black;
  font-size: 0.8rem;
  cursor: pointer;
}

.single-note .link-wrapper p {
  margin: 0;
  margin-right: 6%;
}

.single-note .link-wrapper a:first-of-type {
  margin-right: 3%;
}

.single-note h3 {
  font-size: 1.6rem;
  color: #474747;
  margin: 1rem 5%;
}

.single-note p {
  font-size: 1.2rem;
  margin: 0 5%;
  white-space: pre-line;
}

.single-note .delete-modal {
  z-index: 2;
  position: fixed;
  height: 100%;
  width: 100vw;
  left: 0;
  right: 0;
  top: 0;
  opacity: 0.95;
  background-color: #99a4af;
  display: flex;
  justify-content: center;
}

.single-note .delete-modal .delete-menu {
  background-color: #ffffff;
  border: 2px solid #eaeaea;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 80%;
  height: 150px;
  margin-top: 50vh;
  z-index: 3;
  position: absolute;
  padding-top: 1rem;
}

.single-note .delete-modal .delete-menu p {
  width: 100%;
  text-align: center;
  height: 1.6rem;
  margin-left: 0;
  margin-right: 0;
  margin-block-end: 0;
}

.single-note .delete-modal .delete-menu div {
  color: #ffffff;
  background-color: black;
  border: 1px solid #eaeaea;
  width: 10%;
  height: 25%;
  padding: 1% 8%;
  font-size: 0.8rem;
  margin-right: 1.5%;
  margin-left: 1.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-bottom: 5px solid #41403e;
  border-bottom-left-radius: 15px 3px;
  border-bottom-right-radius: 15px 5px;
}

.single-note .delete-modal .delete-menu .cancel {
  background-color: #24b8bd;
}

.single-note .delete-modal .delete-menu .delete {
  background-color: #ca001a;
}

@media (min-width: 769px) {
  .single-note {
    margin-top: 125px;
  }

  .single-note .link-wrapper p {
    margin-right: 10%;
  }

  .single-note h3 {
    margin: 1rem 10%;
    margin-top: 1%;
  }

  .single-note p {
    margin: 0 10%;
  }

  .single-note .delete-modal .delete-menu {
    width: 500px;
  }
}

@media (min-width: 1000px) {
  .single-note {
    margin-top: 0;
    margin-left: 20%;
    width: 80%;
  }

  .single-note .link-wrapper {
    display: flex;
    justify-content: flex-end;
    margin-right: 20%;
  }

  .single-note h3 {
    margin-right: 20%;
  }

  .single-note p {
    margin-right: 20%;
  }
}
