/* TODO Update for readability */
/* TODO Update button spacing in desktop */
nav.fixed {
    height: 125px;
    background-color: #D3D2D3;
    border: 1px solid black;
}

nav.fixed h1 {
    margin: 0;
}

nav.fixed .btn-container {
    width: 100%;
    align-items: center;
    flex-wrap: nowrap;
    margin-bottom: 0;
}

nav.fixed .btn-container a, nav.fixed .btn-container .nav-button {
    height: 75px;
    margin: 1%;
    margin-bottom: 0;
    width: 33%;
}

@media (max-width: 768px) {
    nav.fixed {
        height: 75px;
    }

    nav.fixed .collapsible-body.btn-container {
        flex-direction: column;
        align-items: flex-end;
    }
    
    nav.fixed .collapsible-body a:first-of-type {
        margin-top: 25px;
    }
    
    nav.fixed .collapsible-body .sign-in {
        width: 100px;
        height: 75px;
        margin: 0;
        margin-bottom: 0.5rem;
        background-color: #D3D2D3;
        color: #414141;
    }

    nav.fixed .collapsible-body .sign-in:hover {
        background-color: darkgray;
    }
}

@media (min-width: 1000px) {
    nav {
        width: 20%;
        height: 100vh;
        background-color: #D3D2D3;
        border: 1px solid black;
        position: fixed;
        display: flex;
        flex-wrap: wrap;
    }
}

nav h1 {
    color: #414141;
    font-size: 2.4rem;
    margin-left: 8%;
    margin-top: 3%;
    margin-bottom: 10%;
    line-height: 1
}

nav h1 a {
    border: none;
}

nav h1 a:hover {
    border: none;
}

nav .btn-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
}

nav .btn-container a, nav .btn-container .nav-button {
    text-decoration: none;
    background-color: #24B8BD;
    color: #FFFFFF;
    width: 150px;
    padding: 5%;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    text-align: center;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: none;
    border-bottom: 5px solid #41403e;
    border-bottom-left-radius: 15px 3px;
    border-bottom-right-radius: 15px 5px;
}

nav .btn-container a:hover, nav .btn-container .nav-button:hover {
    background-color: #14696C;
    border-bottom: 5px solid #c1c0bd;
}